*{
    margin: 0;
    font-family: 'Averia Libre';
}

body{
    background-color: #DCDCDC;
}

.body{
    width: 60%;
    margin: 10vh auto;
}


header{
    background-color: #a6aeae73;
}

h1 {
    text-align: center;
    padding: 3vh;
    color: #000000;
}

fieldset{
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #f4d2d226;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10vh auto;
}

label{
    padding: 0.5rem;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    color: #7a7a6e;
    margin: 1rem;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
}

input {
    padding: 0 0.5rem;
    float: right;
    margin: 0 1rem;
    font-family: 'Merriweather', serif;
}

img{
    display: inline;
    width: 25%;
}

.delivery{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.invalid{
    display: none;
    float: right;
    width: 50%;
    color: rgb(255, 0, 0);
    font-size: small;
    font-weight: 200;
    padding-top: 2px;
}

#submit{
    float: left;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    padding: 1vh 2vh;
    font-size: 1rem;
    border-radius: 3vh;
    background: #8a86864d;
    color: #000000;
    cursor: pointer;
}

#submit{
    margin-bottom: 2%;
}

.records{
    display: none;
    color: #9d9e9e;
}

.records h2{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}

.del-btn{
    height: fit-content;
    margin: auto 0;
}

.records-content{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.records-content p{
    font-family: 'Source Code Pro', monospace;
}

.records>div{
    display: flex;
}

@media only screen and (max-width:1150px) {
    .delivery{
        grid-template-columns: 3fr 1fr;
    }
}

@media only screen and (max-width:1000px) {
    .delivery{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .buttons{
        flex-direction: row;
    }
    #submit{
        margin-bottom: 0;
    }
}

@media only screen and (max-width:900px) {
    .credentials{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:800px) {
    h1{
        font-size: 1.5rem;
    }
    fieldset{
        font-size: 1rem;
    }
    .records h2{
        font-size: 1rem;
    }
    label{
        font-size: 14px
    }
    .delivery label input{
        width: 30%;
    }
    .credentials input{
        width: 50%;
    }
    .records>div{
        flex-direction: column;
    }
    .del-btn{
        width: fit-content;
        margin-top: 10px;
    }
    .body{
        width: 80%;
    }
    .btn{
        font-size: 0.75rem;
    }
    .records-content p{
        font-size: 0.75rem;
    }
}

@media only screen and (max-width:450px) {
    label{
        font-size: 10px;
    }
    .invalid{
        font-size: 10px;
    }
    .delivery{
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
    input{
        font-size: 0.5rem;
    }
}